:root {
  --CL-primary-blue: #0290ff;
  --CL-primary-blue-two: #4386bf;
  --CL-primary-black-two: #121212;
  --CL-primary-white-two: #fff;
  --CL-primary-white-three: #e8e8e8;
  --CL-primary-pale-gray: #f5f6fa;
  --CL-primary-gray: #888;
  --FF-primary: 'Montserrat', sans-serif;
  --FF-secondary: 'Roboto Slab', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  background-color: #fafafa;
  box-shadow: 20px 30px 60px 10px rgba(0, 0, 0, 0.3);
}

html {
  padding: 2vw;
}

h1 {
  text-align: center;
  margin: 1rem;
}

ul {
  list-style: none;
}

nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  margin: 0.5rem;
  color: #333;
  opacity: 0.5;
  text-decoration: none;
}

a.active {
  opacity: 1;
  font-weight: bold;
  background-color: #fff;
  pointer-events: none;
  user-select: none;
}
