* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  background-color: #fafafa;
  box-shadow: 20px 30px 60px 10px rgba(0, 0, 0, 0.3);
}

html {
  /* padding: 9.313rem 3.75rem 7.688rem 6.25rem; */
  padding: 8vw;  /* background-color: #f5f6fa; */
}

ul {
  list-style: none;
}

nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  margin: 0.5rem;
  color: #333;
  opacity: 0.5;
  text-decoration: none;
}

a.active {
  opacity: 1;
  font-weight: bold;
  background-color: #fff;
  pointer-events: none;
  user-select: none;
}

/* form {
  margin: 3vw;
} */
